<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <properties>
        <property name="LOG_HOME">D:/logs</property>
        <property name="FILE_NAME">mylog</property>
        <property name="log.sql.level">info</property>
    </properties>


    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %l - %msg%n" />
        </Console>

        <RollingRandomAccessFile name="RollingRandomAccessFile" fileName="${LOG_HOME}/${FILE_NAME}.log" filePattern="${LOG_HOME}/$${date:yyyy-MM}/${FILE_NAME}-%d{yyyy-MM-dd HH-mm}-%i.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %l - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <Logger name="cn.chinaunicom.industrialinternet" level="${log.sql.level}" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>

        <Logger name="cn.chinaunicom.industrialinternet.mappers" level="debug" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <!-- sql loggers -->

        <logger name="java.sql.*" level="debug" additivity="true"></logger>
        <logger name="java.sql.ResultSet" level="debug" additivity="true"></logger>

        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingRandomAccessFile" />
        </Root>

    </Loggers>
</Configuration>